 
<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/chef_detail.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>chef details</title>
</head>
<body>


    <div class="card card-warning">
        <div class="card-header" align="center">
            <h4>Orders | {{chef}}</h4>
            <div class="card-header-action"><br></div>
        </div>

        <div class="table-responsive">
            <div class="card-body p-0">
                {% if orderitem %}                
                    <table class="table table-striped" id = "myTable">
                        <tr>
                            <th class="text-center" onclick="sortTable(0)">Order ID&nbsp;<i class="fas fa-sort"></i></th>
                            <th onclick="sortTable(1)">Category Name&nbsp;<i class="fas fa-sort"></i></th>
                            <th>Product Name</th>
                            <th>Quantity</th>
                            <th>Table No</th>
                            <th onclick="sortTable(4)">Status&nbsp;<i class="fas fa-sort"></i></th>               
                            <th>Action</th>
                        </tr>

                        {% comment %} if chef having only one orderitem this will be executde {% endcomment %}
                        <tr>
                            <td class="p-0 text-center">{{alloc_1.id}} </td>
                            <td>{{alloc_1.category_name|title}}</td>
                            <td>{{alloc_1.product_name|title}}</td>
                            <td>{{alloc_1.quantity}}</td>
                            <td>{{alloc_1.table_no}}</td>
                            <td>
                                {% ifequal alloc_1.status 'pending'%}
                                    <div class="badge badge-warning">{{alloc_1.status}}</div>
                                {% else %}
                                    <div class="badge badge-danger">{{alloc_1.status}}</div>
                                {% endifequal %}

                            </td>
                            <td>
                                {% ifequal alloc_1.status 'incomplete' %}
                                    <a  class="btn btn-md btn-primary" 
                                        style="text-decoration: none;" 
                                        href="{% url 'testapp:pending-alloc-status' alloc_1.id  chef.id%}"
                                        data-toggle="tooltip" data-placement="top"
                                        title="start">
                                        start
                                    </a>&nbsp;
                                    
                                {% endifequal %}


                                                        
                                {% ifequal alloc_1.status 'pending' %}
                                
                                    <a  class="btn btn-md btn-info" 
                                        style="text-decoration: none;" 
                                        href="{% url 'testapp:complete-alloc-status' alloc_1.id chef.id %}"
                                        data-toggle="tooltip" data-placement="top"
                                        title="complete">
                                        Complete
                                        <!-- <i class="fas fa-pen"></i>  -->
                                    </a>&nbsp;  
                                {% endifequal %}

                            </td>
                        </tr> 
                        {% comment %} if chef having morethan one orderitem this will be executde and in this orderitem first order is enabled and 
                        from second order onwards buttun will be disabled {% endcomment %}
                        
                        {% for alloc in alloc_2 %}
                            <tr>
                                <td class="p-0 text-center">{{alloc.id}} </td>
                                <td>{{alloc.category_name|title}}</td>
                                <td>{{alloc.product_name|title}}</td>
                                <td>{{alloc.quantity}}</td>
                                <td>{{alloc.table_no}}</td>
                                <td>
                                    {% ifequal alloc.status 'pending'%}
                                        <div class="badge badge-warning">{{alloc.status}}</div>
                                    {% else %}
                                        <div class="badge badge-danger">{{alloc.status}}</div>
                                    {% endifequal %}

                                </td>
                                <td>
                                    {% ifequal alloc.status 'incomplete' %}
                                        <a  class="btn btn-md btn-warning disabled btn-progress" 
                                            style="text-decoration: none;" 
                                            href="{% url 'testapp:pending-alloc-status' alloc.id  chef.id%}"
                                            data-toggle="tooltip" data-placement="top"
                                            title="start">
                                            start
                                        </a>&nbsp;
                                    {% endifequal %}

                                                            
                                    {% ifequal alloc.status 'pending' %}
                                    
                                        <a  class="btn btn-md btn-info disabled btn-progress" 
                                            style="text-decoration: none;" 
                                            href="{% url 'testapp:complete-alloc-status' alloc.id chef.id %}"
                                            data-toggle="tooltip" data-placement="top"
                                            title="complete">
                                            Complete
                                            <!-- <i class="fas fa-pen"></i>  -->
                                        </a>&nbsp;  
                                    {% endifequal %}

                                </td>
                            </tr> 
                        {% endfor %}
                        
                    </table>
                {% else %}
                {% comment %} if chef dont have any orders this else part will execute {% endcomment %}
                <br>
                    <h6 class="text-center" style="color: orangered;">No orders till now ! </h6>   
                <br> 
                {% endif %}
            </div>
        </div>
    

    </div>




    <script>
    function myFunction() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");

        console.log(input, filter, table);
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
        td = tr[i].getElementsByTagName("td")[1];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
            tr[i].style.display = "";
            } else {
            tr[i].style.display = "none";
            }
        }       
        }
    }



    function sortTable(n) {
    var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
    table = document.getElementById("myTable");
    switching = true;  
    dir = "asc"; 
    while (switching) {    
        switching = false;
        rows = table.rows;   
        for (i = 1; i < (rows.length - 1); i++) {
        shouldSwitch = false;
        x = rows[i].getElementsByTagName("TD")[n];
        y = rows[i + 1].getElementsByTagName("TD")[n];
        if (dir == "asc") {
            if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {          
            shouldSwitch = true;
            break;
            }
        } else if (dir == "desc") {
            if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {          
            shouldSwitch = true;
            break;
            }
        }
        }
        if (shouldSwitch) {     
        rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
        switching = true;      
        switchcount ++;
        } else {
        if (switchcount == 0 && dir == "asc") {
            dir = "desc";
            switching = true;
        }
        }
    }
    }
    


    {% if messages %}
        console.log('message')

                iziToast.show({
                                title: 'Hii',
                                message: '{% for i in messages %}{{i}}{%endfor%}',
                                position: 'topRight',
                                color: 'success'
                            });
    {% endif %}

    </script>
  
        <footer id="footer">   
            <div class="container d-md-flex py-4" >
              <div class="container" align="left">
                <div class="copyright">
                  &copy; 2021 &nbsp;<strong><span> Vistan Nextgen Pvt Ltd</span></strong>. All Rights Reserved
                </div>    
              </div>
              <div class="container" align="right">
                <a href="https://twitter.com/nextgenvistan" class="twitter"><i class="fa fa-twitter"></i></a>
                <a href="https://www.facebook.com/vistannextgen1/" class="facebook"><i class="fa fa-facebook"></i></a>
                <a href="https://www.instagram.com/vistannextgen/" class="instagram"><i class="fa fa-instagram"></i></a>
                <a href="https://in.linkedin.com/company/vistannextgen" class="linkedin"><i class="fa fa-linkedin"></i></a>
              </div>
            </div>  
          </footer>
        

</body>
</html>